{% extends 'base.html' %}

{% block title %}
    Registration
{% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
  {% for message in messages %}
    <p style="max-width: 350px; margin-left: 7px; border: 1px solid tomato; background-color: rgba(255, 99, 71, 0.473); color: aliceblue; border-radius: 3px; padding: 10px;" >{{ message }}</p>
  {% endfor %}

{% endif %}
{% endwith %}
 <h3 style="color: aliceblue; margin-left: 7px;">
Password Reset
</h3>
<h4 style="color: aliceblue; margin-left: 7px; font-size: 1.5rem; margin-bottom: 25px;">
  <br>Email has been sent to: {{ email }}<br><br>
  Please type the verification code contained within the email below.
</h4>
<form action="/passwordCodeVerification" method="post">
  <div class="form-group text-white">
    <label class="form-group text-white" for="code" style="margin-left: 10px;">Verification Code 👇</label>
      <input type="text" class="form-control" id="code-form"  name="code" placeholder="Enter code" style="max-width: 150px; margin: 10px;" required>
  </div>
  <button type="submit" class="btn btn-secondary" value="Login" style="margin: 10px; width: 125px;" id="submit-button" onclick="loadingStatus()">
    Submit 
  </button>
</form> 

<script>

  const codeForm = document.getElementById('code-form');
  const buttonSubmit = document.getElementById('submit-button');
  function loadingStatus(){

    let value1 = codeForm.value;


    if (value1 === ''){
      return
    }
    else{
      buttonSubmit.innerHTML = '<div class="spinner-grow spinner-grow-sm"></div>';
    }

  }
</script>

{% endblock %}