{% extends 'base.html' %}

{% block title %}
    Enter New Password
{% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
  {% for message in messages %}
    <p style="margin-left: 10px; max-width: 350px; border: 1px solid tomato; background-color: rgba(255, 99, 71, 0.473);  color: aliceblue; border-radius: 3px; padding: 10px;" >{{ message }}</p>
  {% endfor %}

{% endif %}
{% endwith %}

<h5 class="text-white" style="margin-left: 10px; margin-bottom: 25px;">Please Type New Password</h5>

<form action="/submitNewPassword" method="post" class="text-white" onsubmit="return confirm('Confirm Password Reset!')">

    <div class="col-md-4 mb-3">
        <label for="password" style="margin-left: 7px;">Password (minimum 8 characters)<span id="password-span" style="font-size: .8rem;"></span></label>
          <input type="password" name="password" class="form-control" id="password" style="max-width: 350px; margin: 10px;" minlength="8"  required>
          <div class="invalid-feedback" style="margin-left: 7px;">
            Please choose a Strong Password.
          </div>
      </div>
        <div class="col-md-4 mb-3">
          <label for="password" style="margin-left: 7px;">Retype Password <span id="retype-password-span"></span></label>
            <input type="password" class="form-control" id="retypecheck" style="max-width: 350px; margin: 10px;" minlength="8"  required>
            <div class="invalid-feedback" style="margin-left: 7px;">
              Please retype your Password.
            </div>
    <button type="submit" class="btn btn-secondary" value="Login" style="margin: 20px 10px; width: 125px;" id="submit-button" onclick="loadingStatus()">
      Submit
    </button>
   
    
</form>

<script>
      const passwordBox = document.getElementById('password')
      const retypeCheck = document.getElementById('retypecheck')
      const retypeSpan = document.getElementById('retype-password-span') 
      const passwordSpan = document.getElementById('password-span')

      function checkPassword() {
        const firstValue = passwordBox.value;
        const secondValue = retypeCheck.value;
        if (firstValue === secondValue){
          if (firstValue.length == 0){
            retypeSpan.innerText = '';
          }
          else{
            retypeSpan.innerText = '👍✅';
          }
        }
        else {
          retypeSpan.innerText = '👎';
        }
      
        if (firstValue.length < 8 && firstValue.length > 0){
          passwordSpan.innerText = ' Too Short';
        }
        else{
          if (firstValue.length > 7){
            passwordSpan.innerText = '👍';
          }

        }

      }

      setInterval(()=>{
        checkPassword()
      },500)


        const buttonSubmit = document.getElementById('submit-button');
        function loadingStatus(){

            let value1 = passwordBox.value;
            let value2 = retypeCheck.value;
        
        if (value1 === '' || value2 === ''){
        return
        }
        else{
        buttonSubmit.innerHTML = '<div class="spinner-grow spinner-grow-sm"></div>';
        }
}
</script>

{% endblock %}