<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Creepster&display=swap" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/128/8745/8745230.png">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Password</title>
  <link rel="stylesheet" href="{{ url_for('static',filename='styles/registrationForm.css') }}" />
</head>

<body>

  <header>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p
      style="max-width: 350px; background-color: rgba(30, 162, 1, 0.959); color: aliceblue; border-radius: 3px; padding: 10px; margin-left: 10px;">
      {{ message }}</p>
    {% endfor %}

    {% endif %}
    {% endwith %}

  </header>
  <form action="/updatepassword" method="post" id="registrationform">
    <h1>🎃 New Password 🍬</h1>
    <div>
      <div class="password-animations">
        <span id="password-span"></span>
      </div>
      <div id="passwordfield">
        <label for="password" style="text-shadow: none;">Password</label><br>
        <input type="password" name="password" id="password" required maxlength="100" minlength="8">
      </div>
      <div class="password-animations">
        <span id="retype-password-span"></span>
      </div>
      <div id="passwordcheckfield">
        <label for="passwordcheck" style="text-shadow: none;">Retype Password</label><br>
        <input type="password" name="passwordcheck" id="passwordcheck" required maxlength="100" minlength="8">
      </div>

    </div>
    <div id="form-button-div">
      <button type="submit" id="submitbutton">Update</button>
    </div>
  </form>


</body>
<script>


  const submitButton = document.getElementById("submitbutton");

  function onSubmitClick(){
    submitButton.innerText = "Loading!"
  };
  submitButton.addEventListener("click", onSubmitClick);


  const passwordBox = document.getElementById('password')
  const passwordcheck = document.getElementById('passwordcheck')
  const retypeSpan = document.getElementById('retype-password-span')
  const passwordSpan = document.getElementById('password-span')

  function checkPassword() {
    const firstValue = passwordBox.value;
    const secondValue = passwordcheck.value;
    if (firstValue === secondValue) {
      if (firstValue.length == 0) {
        retypeSpan.innerText = '';
      }
      else {
        retypeSpan.innerText = '👍✅';
      }
    }
    else {
      retypeSpan.innerText = '👎 Not Matching Yet';
    }

    if (firstValue.length < 8 && firstValue.length > 0) {
      passwordSpan.innerText = ' Too Short min - 8';
    }
    else {
      if (firstValue.length > 7) {
        passwordSpan.innerText = '👍✅';
      }

    }

  }

  setInterval(() => {
    checkPassword()
  }, 500)
</script>

</html>