<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Creepster&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/128/8745/8745230.png">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Halloween Spotter</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/home.css') }}" />
</head>

<body>
    <header>

        <h1>🎃 Halloween 🍬 <br />Trick and Treat Spotter</h1>
    </header>
    {% if bad %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p
        style="max-width: 350px; background-color: rgba(235, 98, 35, 0.959); color: aliceblue; border-radius: 3px; padding: 10px; margin-left: 10px;">
        {{ message }}</p>
    {% endfor %}

    {% endif %}
    {% endwith %}

    {% else %}

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p
        style="max-width: 350px; background-color: rgba(105, 235, 35, 0.959); color: rgb(0, 0, 0); border-radius: 3px; padding: 10px; margin-left: 10px;">
        {{ message }}</p>
    {% endfor %}

    {% endif %}
    {% endwith %}
    {% endif %}

    <div id="nav-button-div">
        <a href="/"><button>Home</button></a>
    </div>


</body>

</html>