{% extends 'base.html' %}

{% block title %}
    Status
{% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
  {% for message in messages %}
    <p style="max-width: 350px; border: 1px solid rgba(22, 185, 87, 0.667); background-color: rgba(71, 255, 126, 0.473); color: aliceblue; border-radius: 3px; padding: 10px; margin-left: 10px;" >{{ message }}</p>
  {% endfor %}

{% endif %}
{% endwith %}
<hr class="hr">
<a href="/tips"><button type="button" style="margin-left: 10px; width: 125px;" class="btn btn-secondary">Tips</button></a>

{% endblock %}