{% extends 'base.html' %} 
{% block head %} 
<meta http-equiv="refresh" content="300">
{% endblock%}

{% block title %} Tips {% endblock %} {% block content%} 
{% with messages = get_flashed_messages() %}
{% if messages %}
  {% for message in messages %}
    <p style="max-width: 350px; margin-left: 7px; border: 1px solid rgba(22, 185, 87, 0.667); background-color: rgba(71, 255, 126, 0.473); color: aliceblue; border-radius: 3px; padding: 10px;" >{{ message }}</p>
  {% endfor %}

{% endif %}
{% endwith %}
{% if new_posts %}
<div class="button-div">
  <a href="/wallPost"><button type="button" style="margin: 10px 10px; width: 150px; box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.6);" class="btn btn-secondary">
    Posts
    <div style="font-size: .8rem; width: 50px; height: 20px; background-color: rgba(255, 0, 0, 0.895); border-radius: 15px; position: absolute;">NEW</div>
  </button></a>
</div>

{% endif %}


<a href="/results" type="button" id="already-raced-button"  class="btn btn-secondary" onclick="loadingStatus()" style="margin: 10px; width: 185px; box-shadow: 3px 3px 3px rgba(78, 78, 78, 0.6);">Show Todays Results</a>
<div style="display: flex; flex-direction: row; flex-wrap: wrap; max-width: 750px; justify-content: center; align-items: center;">

  <script>
    const showButton = document.getElementById('already-raced-button');
    showButton.style.display = 'none';

    function loadingStatus(){
        showButton.innerHTML = '<div class="spinner-grow spinner-grow-sm"></div>';
  }
  </script>
  
<div class="row text-white" style="width: 100vw;">
  <div class="col-12 text-center">
    {% set cursor_list = data | list %}
    {% set length = cursor_list | length %}
    Total Tips Today 👉 {{ length }}
  </div>
</div>


{% for i in cursor_list %} <!-- Loop over the data -->

{% if i['raceTime'] < timenow %} <!-- If block to check if race has already been ran plus 5min -->

<script>
  showButton.style.display = 'flex';
</script>
<style>
  #already-raced-button{
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>

  {% endif %}

  

{% if (i['raceTime'] + 300) > timenow %} <!-- Start of second if block -->

  <div class="row-flex" style=" box-shadow: 3px 3px 5px rgba(5, 5, 5, 0.826); margin: 7px 5px; background-color: rgb(234, 233, 233); padding-top: 5px; padding-left: 15px;padding-right: 20px; border-radius: 10px; min-width: 340px; max-width: 450px;">
    <div class="row">
      <div class="col-9 text-start">
          <strong style="padding: 0;">{{i['race']}}</strong>
      </div>
      <div class="col-3 text-end" style="padding: 0; font-size:.9em;">{{i['stringTime']}}</div>  
    </div>
    <div class="row">
  
      {% if i['raceDetails'] %}
      <div class="col-7 text-start" style="font-size: .8em; padding: 5px; font-weight: 600;"> {{i['raceDetails']['horseNumber']}}. {{i['horse']}} {{i['raceDetails']['gateNumber']}} </div>
      <div class="col-5 text-end" style="font-size: .7em; padding: 6px 0px;">Win: ${{i['raceDetails']['winPrice']}}  Place: ${{i['raceDetails']['placePrice']}} </div>
      {% else %}
      <div class="col-7 text-start" style="font-size: .8em; padding: 5px; font-weight: 600;">🏇 {{i['horse']}} </div>
      <div class="col-5 text-end" style="font-size: .7em; padding: 0;">Win: $ -  Place: $ - </div>
      {% endif%}
      
    </div>
  
    {% if i['raceDetails']%}
      <div class="row text-center" style="opacity: .8;">
        <div class="col-3" style="font-size: .7em; padding: 0px 3px;">{{i['raceDetails']['lastFinishes']}}</div>
        {% if i['conditions'] %}
        <div class="col-3" style="font-size: .7em; padding: 0px 3px;">{{i['conditions']['condition']}}</div>
        <div class="col-3" style="font-size: .7em; padding: 0px 3px;">{{i['conditions']['weather']}}</div>
        <div class="col-3" style="font-size: .7em; padding: 0px 3px;">{{i['conditions']['temp']}}°C</div>
        {% endif %}
      </div>
  
    {% endif %}
  
    <div class="row" >
      <div class="col-7 text-start" style="padding-top: 5px; padding-right: 0; padding-left: 7px; font-size:.8em;">J: {{i['jockeyName']}}</div>
    </div>
  
      <div class="row">
        <div class="col-9 text-start" style="padding-right: 0; padding-left: 7px; font-size:.75em;">T: {{i['trainerName']}}</div>
        <div class="col-1" style=" padding-bottom: 6px; padding-right: 5px;"><img src="{{i['bibLink'] }}" alt="bibLink" style="width: 20px; margin: 0;"></div>
        {% if i['score'] > 50 %}
        <div class="col-2 text-dark text-center" style="font-size: .7em; padding: 5px 0px;"><span class="text-black">Score: </span>{{i['score']}}</div>
        {% elif i['score'] > 25 and i['score'] <= 50 %}
        <div class="col-2 text-primary text-center" style="font-size: .7em; padding: 5px 0px;"><span class="text-black">Score: </span>{{i['score']}}</div>
        {% elif i['score'] > 10 and i['score'] <= 25 %}
        <div class="col-2 text-success text-primary text-center" style="font-size: .7em; padding: 5px 0px;"><span class="text-black">Score: </span>{{i['score']}}</div>
        {% elif i['score'] <= 10 %}
        <div class="col-2 text-success text-center" style="font-size: .7em; padding: 5px 0px;"><span class="text-black">Score: </span> {{i['score']}}</div>
        {% else %}
        <div class="col-2 text-center" style="font-size: .7em; padding: 5px 0px;"><span class="text-black">Score: </span>{{i['score']}}</div>
        {% endif %}
  
      </div>
  </div>



{% endif %}

{% endfor%}

{% endblock %}
